@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto Slab", serif;
  background-color: #fff;
  font-size: 14px;
}

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  margin-top: 40px;
}

section:first-child {
  margin-top: 0;
}

.bg-gray {
  background-color: #eef0f8;
}

.main-title {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.sub-title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.btn-custom {
  padding: 10px 20px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #cd2122;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-left: auto;
}

.btn-custom:hover {
  background-color: #cd2122;
  color: #fff;
}

.card {
  border: none;
}

.header {
  width: 100%;
  background: #cd2122;
  position: fixed;
  top: 0;
  z-index: 99;
}

.header .heading {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading-left {
  width: 50%;
}

.header .heading-left ul {
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading-left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 4px;
  padding: 5px;
}

.header .heading-left ul li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading-right {
  width: 50%;
}

.header .heading-right ul {
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading-right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

.header .heading-right ul li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading-right ul li a span {
  text-decoration: none;
}

section.navbar {
  margin-top: 10px !important;
  width: 100%;
  padding-top: 40px;
}

section.navbar nav.navbar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.navbar nav.navbar div.navbar-brand a {
  color: #000;
  text-decoration: none;
}

section.navbar nav.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

section.navbar nav.navbar ul li {
  overflow: hidden;
  padding: 5px 10px;
  margin-right: 5px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.navbar nav.navbar ul li:hover > a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.navbar nav.navbar ul li:hover > a {
  color: #000;
}

section.navbar nav.navbar ul li a {
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

section.navbar nav.navbar ul li a::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
}

section.navbar nav.navbar .form-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

section.navbar nav.navbar .form-search span {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

section.slider {
  margin-top: 20px;
  max-width: 3000px;
}

section.news .card .category-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

section.news .card-body .card-title {
  text-decoration: none;
  color: #000;
}

section.news .card-body .card-title:hover {
  color: var(--red);
}

section.news .card-body .news-content {
  cursor: pointer;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

section.news .card-body .news-content:hover {
  color: var(--primary);
}

section.news .box {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  /* Handle on hover */
}

section.news .box::-webkit-scrollbar {
  width: 10px;
}

section.news .box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

section.news .box::-webkit-scrollbar-thumb {
  background: #888;
}

section.news .box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

section.news .box .notifi {
  padding-left: 1rem;
  margin-bottom: 5px;
  padding-right: 2px;
}

section.news .box .notifi-body {
  color: #000;
  margin-left: 10px;
}

section.news .box .notifi span {
  color: #b6b6b6;
  text-transform: uppercase;
}

section.events {
  background-color: #f9fadc;
}

section.events .card {
  background: transparent;
}

section.events .card a.card-title {
  text-decoration: none;
}

section.events .card p.card-text {
  margin-top: 0.75rem !important;
}

section.events .card-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  color: #fff;
}

section.people-say {
  background-image: url(./image/river.jpg);
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

section.people-say .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.faculty {
  padding-top: 40px;
  padding-bottom: 40px;
}

section.about,
section.faculty {
  position: relative;
}

section.about .bd-bottom:after,
section.faculty .bd-bottom:after {
  position: absolute;
  bottom: 0;
  width: 15%;
  left: 50%;
  margin-left: -20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  content: "";
  border-bottom: solid 2px rgba(0, 0, 0, 0.7);
}

section.about .card-body .card-title,
section.faculty .card-body .card-title {
  text-decoration: none;
}

section.footer {
  width: 100%;
  padding: 10px;
  background: #252429;
  color: #fff;
  margin-top: 0 !important;
}

section.footer .title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

section.footer ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

section.footer ul li {
  margin-top: 5px;
}

section.footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bbbb9f;
  text-decoration: none;
}

section.copyright {
  width: 100%;
  margin-top: 0;
  background: #1d1d1f;
}

section.copyright .copy-text {
  color: #bbbb9f;
}

section.copyright .copy-text a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

section.body {
  margin-top: 20px !important;
  padding-bottom: 20px;
  width: 100%;
  min-height: 100vh;
}

section.body .main {
  padding: 1rem;
}

section.body .main .up-load-by {
  color: #7b7b7b;
  padding-bottom: 10px;
}

section.body .main .title {
  font-weight: 600;
  color: #000;
  font-size: 1.3rem;
}

section.body .main .list-post {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.body .main .list-post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 0.5px #ccc;
}

section.body .main .list-post-item a {
  color: #4a4a4a;
  width: 80%;
}

section.body .main .list-post-item a:hover {
  color: #000;
}

section.body .read-more {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.body .read-more .title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 10px;
}

section.body .read-more .tags {
  list-style: none;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.body .read-more .tags-item {
  margin-right: 10px;
}

section.body .read-more .tags-item-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 8px;
  color: #fff;
  background-color: #cc2122;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: solid 0.5px transparent;
}

section.body .read-more .tags-item-link:hover {
  color: #cc2122;
  border-color: #cc2122;
  background-color: #fff;
}

section.body .read-more ul.list-post {
  margin: 0;
  padding: 0 0 0 20px;
}

section.body .read-more ul.list-post li.list-post-item {
  margin-bottom: 5px;
}

section.body .read-more ul.list-post li.list-post-item a {
  color: #4a4a4a;
}

section.body .read-more ul.list-post li.list-post-item a:hover {
  color: #000;
}

section.body .read-more ul.list-post li.list-post-item a span {
  margin-left: 5px;
}

section.body .read-more ul.pagination {
  width: 100%;
}

section.body .read-more ul.pagination li.page-item.active {
  background-color: var(--primary);
  color: #fff;
}

section.body .sidebar {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.body .sidebar .title {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #595959;
}

section.body .sidebar ul {
  margin: 0;
  padding: 0 0 0 20px;
}

section.body .sidebar ul li {
  margin-bottom: 5px;
}

section.body .sidebar ul li a {
  color: #4a4a4a;
}

section.body .sidebar ul li a:hover {
  color: #000;
}

section.body .sidebar ul li a span {
  margin-left: 5px;
}

section.body .news-bottom-box li.page-item {
  margin-right: 5px;
}

section.body .breadcrumb-item {
  text-decoration: none;
}

section.body .post-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

section.body .post-box .img-box {
  width: 40%;
}

section.body .post-box .img-box img {
  width: 100%;
  height: auto;
}

section.body .post-box .content-box {
  margin-left: 15px;
  width: 60%;
}

section.body .post-box .content-box .title {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #595959;
  margin-bottom: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.body .post-box .content-box .title:hover {
  color: #cc2122;
}

section.body .post-box .content-box .time {
  font-size: 12px;
  margin-bottom: 25px;
}

section.body .post-box .content-box .content {
  font-size: 14px;
}

section.body .timeline {
  margin-left: 10%;
  margin-right: 10%;
  list-style: none;
}

section.body .timeline-item {
  padding-left: 40px;
  position: relative;
}

section.body .timeline-item:last-child {
  padding-bottom: 0;
}

section.body .timeline-item:not(.period):hover > .timeline-marker:before {
  background: transparent;
  border: 3px solid #ff6b6b;
}

section.body .timeline-item .timeline-info {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
  white-space: nowrap;
}

section.body .timeline-item .timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

section.body .timeline-item .timeline-marker:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

section.body .timeline-item .timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child section.body .timeline-item .timeline-marker:after {
  content: none;
}

section.body .timeline-item .timeline-content {
  padding: 10px 0 30px;
}

section.body .timeline .period {
  padding: 0;
}

section.body .timeline .period .timeline-info {
  display: none;
}

section.body .timeline .period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}

section.body .timeline .period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

section.body .timeline .period .timeline-content {
  padding: 40px 0 70px;
}

section.body .timeline .period .timeline-title {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */